[flake8]
max-line-length = 200
ignore = E501,E203,W503,E701,W504,F401,F841,E302,E305,W291,W293,E402,F403,F405
exclude = 
    migrations,
    venv,
    env,
    .venv,
    staticfiles,
    media,
    __pycache__,
    node_modules,
    *.pyc,
    .git,
    __pycache__,
    .tox,
    .coverage,
    .coverage.*,
    .cache,
    nosetests.xml,
    coverage.xml,
    *.cover,
    *.log,
    .gitignore,
    .mypy_cache,
    .pytest_cache,
    .hypothesis

per-file-ignores =
    __init__.py:F401,F403
    settings.py:E501,F401,F403,F405
    */settings/*.py:E501,F401,F403,F405